# Regression Lineaire

### import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

### read data

In [2]:
df = pd.read_csv('avito_car_dataset_ALL.csv', encoding='latin1', index_col=0)
df.head()

,Lien,Ville,Secteur,Marque,Modèle,Année-Modèle,Kilométrage,Type de carburant,Puissance fiscale,Boite de vitesses,...,Caméra de recul,Vitres électriques,ABS,ESP,Régulateur de vitesse,Limiteur de vitesse,CD/MP3/Bluetooth,Ordinateur de bord,Verrouillage centralisé à distance,Prix
0,https://www.avito.ma/fr/massira_2/voitures/FIA...,Temara,Massira 2,Fiat,Punto,2007,200 000 - 249 999,Diesel,5,Manuelle,...,False,False,True,False,False,False,True,False,False,60000
1,https://www.avito.ma/fr/temara/voitures/Dacia_...,Temara,NaN,Dacia,Dokker Van,2013,400 000 - 449 999,Diesel,6,Manuelle,...,False,False,False,False,False,False,False,False,False,70000
2,https://www.avito.ma/fr/casablanca/voitures/Da...,Casablanca,NaN,Dacia,Dokker,2014,160 000 - 169 999,Diesel,6,Manuelle,...,False,False,False,False,False,False,False,False,False,90000
3,https://www.avito.ma/fr/casablanca/voitures/to...,Casablanca,NaN,Volkswagen,Touareg,2005,0 - 4 999,Diesel,10,Automatique,...,False,False,False,False,False,False,False,False,False,90000
4,https://www.avito.ma/fr/dakhla/voitures/Toyota...,Dakhla,NaN,Toyota,Prado,2007,200 000 - 249 999,Diesel,12,Manuelle,...,False,False,True,False,False,False,True,False,False,97000

## EDA

In [3]:
df.columns

Index(['Lien', 'Ville', 'Secteur', 'Marque', 'Modèle', 'Année-Modèle',
       'Kilométrage', 'Type de carburant', 'Puissance fiscale',
       'Boite de vitesses', 'Nombre de portes', 'Origine', 'Première main',
       'État', 'Jantes aluminium', 'Airbags', 'Climatisation',
       'Système de navigation/GPS', 'Toit ouvrant', 'Sièges cuir',
       'Radar de recul', 'Caméra de recul', 'Vitres électriques', 'ABS', 'ESP',
       'Régulateur de vitesse', 'Limiteur de vitesse', 'CD/MP3/Bluetooth',
       'Ordinateur de bord', 'Verrouillage centralisé à distance', 'Prix'],
      dtype='object')

In [4]:
df.dtypes

Lien                                   object
Ville                                  object
Secteur                                object
Marque                                 object
Modèle                                 object
Année-Modèle                            int64
Kilométrage                            object
Type de carburant                      object
Puissance fiscale                       int64
Boite de vitesses                      object
Nombre de portes                      float64
Origine                                object
Première main                          object
État                                   object
Jantes aluminium                         bool
Airbags                                  bool
Climatisation                            bool
Système de navigation/GPS                bool
Toit ouvrant                             bool
Sièges cuir                              bool
Radar de recul                           bool
Caméra de recul                          bool
Vitres électriques                       bool
ABS                                      bool
ESP                                      bool
Régulateur de vitesse                    bool
Limiteur de vitesse                      bool
CD/MP3/Bluetooth                         bool
Ordinateur de bord                       bool
Verrouillage centralisé à distance       bool
Prix                                    int64
dtype: object

In [5]:
print(df)

                                                    Lien       Ville  \
0      https://www.avito.ma/fr/massira_2/voitures/FIA...      Temara
1      https://www.avito.ma/fr/temara/voitures/Dacia_...      Temara
2      https://www.avito.ma/fr/casablanca/voitures/Da...  Casablanca
3      https://www.avito.ma/fr/casablanca/voitures/to...  Casablanca
4      https://www.avito.ma/fr/dakhla/voitures/Toyota...      Dakhla
...                                                  ...         ...
24771  https://www.avito.ma/fr/gueliz/voitures/Mini_C...   Marrakech
24772  https://www.avito.ma/fr/safi/voitures/mini_coo...        Safi
24773  https://www.avito.ma/fr/sal%C3%A9/voitures/Min...        Salé
24774  https://www.avito.ma/fr/polo/voitures/Mini_coo...  Casablanca
24775  https://www.avito.ma/fr/marrakech/voitures/min...   Marrakech

         Secteur      Marque      Modèle  Année-Modèle        Kilométrage  \
0      Massira 2        Fiat       Punto          2007  200 000 - 249 999
1            NaN       Dacia  Dokker Van          2013  400 000 - 449 999
2            NaN       Dacia      Dokker          2014  160 000 - 169 999
3            NaN  Volkswagen     Touareg          2005          0 - 4 999
4            NaN      Toyota       Prado          2007  200 000 - 249 999
...          ...         ...         ...           ...                ...
24771     Guéliz        mini      cabrio          2011    70 000 - 74 999
24772        NaN        mini      cooper          2007  190 000 - 199 999
24773        NaN        mini         one          2006    10 000 - 14 999
24774       Polo        mini      cooper          2010  140 000 - 149 999
24775        NaN        mini      cooper          2008  180 000 - 189 999

      Type de carburant  Puissance fiscale Boite de vitesses  ...  \
0                Diesel                  5          Manuelle  ...
1                Diesel                  6          Manuelle  ...
2                Diesel                  6          Manuelle  ...
3                Diesel                 10       Automatique  ...
4                Diesel                 12          Manuelle  ...
...                 ...                ...               ...  ...
24771           Essence                  9          Manuelle  ...
24772           Essence                  9          Manuelle  ...
24773           Essence                  8          Manuelle  ...
24774           Essence                  9       Automatique  ...
24775           Essence                  9          Manuelle  ...

       Caméra de recul Vitres électriques    ABS    ESP  \
0                False              False   True  False
1                False              False  False  False
2                False              False  False  False
3                False              False  False  False
4                False              False   True  False
...                ...                ...    ...    ...
24771            False              False   True   True
24772            False              False   True   True
24773            False              False   True  False
24774            False              False   True   True
24775            False              False  False  False

       Régulateur de vitesse  Limiteur de vitesse  CD/MP3/Bluetooth  \
0                      False                False              True
1                      False                False             False
2                      False                False             False
3                      False                False             False
4                      False                False              True
...                      ...                  ...               ...
24771                  False                False             False
24772                  False                False              True
24773                  False                False              True
24774                  False                False              True
24775                  False                False             False

       Ordinateur de bord  Verrouillage centralisé à distance    Prix
0                   False                               False   60000
1                   False                               False   70000
2                   False                               False   90000
3                   False                               False   90000
4                   False                               False   97000
...                   ...                                 ...     ...
24771               False                               False  180000
24772               False                               False   63000
24773               False                               False   60000
24774               False                               False   85000
24775               False                               False   84000

[24776 rows x 31 columns]

In [6]:
df.drop(columns=['Lien','Secteur'] , inplace=True)

In [7]:
df.head()

,Ville,Marque,Modèle,Année-Modèle,Kilométrage,Type de carburant,Puissance fiscale,Boite de vitesses,Nombre de portes,Origine,...,Caméra de recul,Vitres électriques,ABS,ESP,Régulateur de vitesse,Limiteur de vitesse,CD/MP3/Bluetooth,Ordinateur de bord,Verrouillage centralisé à distance,Prix
0,Temara,Fiat,Punto,2007,200 000 - 249 999,Diesel,5,Manuelle,5.0,WW au Maroc,...,False,False,True,False,False,False,True,False,False,60000
1,Temara,Dacia,Dokker Van,2013,400 000 - 449 999,Diesel,6,Manuelle,3.0,WW au Maroc,...,False,False,False,False,False,False,False,False,False,70000
2,Casablanca,Dacia,Dokker,2014,160 000 - 169 999,Diesel,6,Manuelle,5.0,WW au Maroc,...,False,False,False,False,False,False,False,False,False,90000
3,Casablanca,Volkswagen,Touareg,2005,0 - 4 999,Diesel,10,Automatique,5.0,WW au Maroc,...,False,False,False,False,False,False,False,False,False,90000
4,Dakhla,Toyota,Prado,2007,200 000 - 249 999,Diesel,12,Manuelle,5.0,WW au Maroc,...,False,False,True,False,False,False,True,False,False,97000

In [8]:

df['Nombre de portes'] = pd.array(df['Nombre de portes'], dtype=pd.Int64Dtype())

In [9]:
df.isna().sum()

Ville                                    0
Marque                                   0
Modèle                                   0
Année-Modèle                             0
Kilométrage                              0
Type de carburant                        0
Puissance fiscale                        0
Boite de vitesses                        0
Nombre de portes                      4380
Origine                               5287
Première main                         6209
État                                  6678
Jantes aluminium                         0
Airbags                                  0
Climatisation                            0
Système de navigation/GPS                0
Toit ouvrant                             0
Sièges cuir                              0
Radar de recul                           0
Caméra de recul                          0
Vitres électriques                       0
ABS                                      0
ESP                                      0
Régulateur de vitesse                    0
Limiteur de vitesse                      0
CD/MP3/Bluetooth                         0
Ordinateur de bord                       0
Verrouillage centralisé à distance       0
Prix                                     0
dtype: int64

### Encoding

In [10]:
df['Jantes aluminium'] = df['Jantes aluminium'].astype(int)
df['Airbags'] = df['Airbags'].astype(int)
df['Climatisation'] = df['Climatisation'].astype(int)
df['Système de navigation/GPS'] = df['Système de navigation/GPS'].astype(int)
df['Toit ouvrant'] = df['Toit ouvrant'].astype(int)
df['Sièges cuir'] = df['Sièges cuir'].astype(int)
df['Radar de recul'] = df['Radar de recul'].astype(int)
df['Caméra de recul'] = df['Caméra de recul'].astype(int)
df['Vitres électriques'] = df['Vitres électriques'].astype(int)
df['ABS'] = df['ABS'].astype(int)
df['ESP'] = df['ESP'].astype(int)
df['Régulateur de vitesse'] = df['Régulateur de vitesse'].astype(int)
df['Limiteur de vitesse'] = df['Limiteur de vitesse'].astype(int)
df['CD/MP3/Bluetooth'] = df['CD/MP3/Bluetooth'].astype(int)
df['Ordinateur de bord'] = df['Ordinateur de bord'].astype(int)
df['Verrouillage centralisé à distance'] = df['Verrouillage centralisé à distance'].astype(int)

In [11]:
df

,Ville,Marque,Modèle,Année-Modèle,Kilométrage,Type de carburant,Puissance fiscale,Boite de vitesses,Nombre de portes,Origine,...,Caméra de recul,Vitres électriques,ABS,ESP,Régulateur de vitesse,Limiteur de vitesse,CD/MP3/Bluetooth,Ordinateur de bord,Verrouillage centralisé à distance,Prix
0,Temara,Fiat,Punto,2007,200 000 - 249 999,Diesel,5,Manuelle,5,WW au Maroc,...,0,0,1,0,0,0,1,0,0,60000
1,Temara,Dacia,Dokker Van,2013,400 000 - 449 999,Diesel,6,Manuelle,3,WW au Maroc,...,0,0,0,0,0,0,0,0,0,70000
2,Casablanca,Dacia,Dokker,2014,160 000 - 169 999,Diesel,6,Manuelle,5,WW au Maroc,...,0,0,0,0,0,0,0,0,0,90000
3,Casablanca,Volkswagen,Touareg,2005,0 - 4 999,Diesel,10,Automatique,5,WW au Maroc,...,0,0,0,0,0,0,0,0,0,90000
4,Dakhla,Toyota,Prado,2007,200 000 - 249 999,Diesel,12,Manuelle,5,WW au Maroc,...,0,0,1,0,0,0,1,0,0,97000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24771,Marrakech,mini,cabrio,2011,70 000 - 74 999,Essence,9,Manuelle,3,WW au Maroc,...,0,0,1,1,0,0,0,0,0,180000
24772,Safi,mini,cooper,2007,190 000 - 199 999,Essence,9,Manuelle,3,WW au Maroc,...,0,0,1,1,0,0,1,0,0,63000
24773,Salé,mini,one,2006,10 000 - 14 999,Essence,8,Manuelle,3,WW au Maroc,...,0,0,1,0,0,0,1,0,0,60000
24774,Casablanca,mini,cooper,2010,140 000 - 149 999,Essence,9,Automatique,3,Dédouanée,...,0,0,1,1,0,0,1,0,0,85000
24775,Marrakech,mini,cooper,2008,180 000 - 189 999,Essence,9,Manuelle,<NA>,Importée neuve,...,0,0,0,0,0,0,0,0,0,84000

In [12]:
df.dtypes

Ville                                 object
Marque                                object
Modèle                                object
Année-Modèle                           int64
Kilométrage                           object
Type de carburant                     object
Puissance fiscale                      int64
Boite de vitesses                     object
Nombre de portes                       Int64
Origine                               object
Première main                         object
État                                  object
Jantes aluminium                       int32
Airbags                                int32
Climatisation                          int32
Système de navigation/GPS              int32
Toit ouvrant                           int32
Sièges cuir                            int32
Radar de recul                         int32
Caméra de recul                        int32
Vitres électriques                     int32
ABS                                    int32
ESP                                    int32
Régulateur de vitesse                  int32
Limiteur de vitesse                    int32
CD/MP3/Bluetooth                       int32
Ordinateur de bord                     int32
Verrouillage centralisé à distance     int32
Prix                                   int64
dtype: object

In [13]:
df['Première main'] = df['Première main'].apply(lambda x: 1 if x == 'Oui' else 0)
df['Première main']

0        0
1        0
2        0
3        1
4        0
        ..
24771    1
24772    0
24773    0
24774    0
24775    0
Name: Première main, Length: 24776, dtype: int64

In [14]:
df['Kilométrage'].unique()

array(['200 000 - 249 999', '400 000 - 449 999', '160 000 - 169 999',
       '0 - 4 999', '180 000 - 189 999', '75 000 - 79 999',
       '10 000 - 14 999', '120 000 - 129 999', '110 000 - 119 999',
       '35 000 - 39 999', '90 000 - 94 999', '190 000 - 199 999',
       '50 000 - 54 999', '300 000 - 349 999', '30 000 - 34 999',
       '20 000 - 24 999', '80 000 - 84 999', '140 000 - 149 999',
       '130 000 - 139 999', '250 000 - 299 999', '95 000 - 99 999',
       '100 000 - 109 999', '170 000 - 179 999', '65 000 - 69 999',
       '5 000 - 9 999', '55 000 - 59 999', '25 000 - 29 999',
       '70 000 - 74 999', '15 000 - 19 999', '350 000 - 399 999',
       '60 000 - 64 999', '40 000 - 44 999', '45 000 - 49 999',
       '85 000 - 89 999', '150 000 - 159 999', '450 000 - 499 999'],
      dtype=object)

In [15]:
def kilometrage_transform(elm):
    l = elm.split('-')
    min_val = int(l[0].replace(' ', ''))
    max_val = int(l[1].replace(' ', ''))
    return round((min_val + max_val) / 2)
    

kilometrage_transform('10 000 - 14 999')

12500

In [16]:
df['Kilometrage_moyen'] = df['Kilométrage'].apply(lambda x: kilometrage_transform(x))

In [17]:
df['Kilometrage_moyen']

0        225000
1        425000
2        165000
3          2500
4        225000
          ...
24771     72500
24772    195000
24773     12500
24774    145000
24775    185000
Name: Kilometrage_moyen, Length: 24776, dtype: int64

In [18]:
df = df.drop('Kilométrage' , axis=1)

In [19]:
df.dtypes

Ville                                 object
Marque                                object
Modèle                                object
Année-Modèle                           int64
Type de carburant                     object
Puissance fiscale                      int64
Boite de vitesses                     object
Nombre de portes                       Int64
Origine                               object
Première main                          int64
État                                  object
Jantes aluminium                       int32
Airbags                                int32
Climatisation                          int32
Système de navigation/GPS              int32
Toit ouvrant                           int32
Sièges cuir                            int32
Radar de recul                         int32
Caméra de recul                        int32
Vitres électriques                     int32
ABS                                    int32
ESP                                    int32
Régulateur de vitesse                  int32
Limiteur de vitesse                    int32
CD/MP3/Bluetooth                       int32
Ordinateur de bord                     int32
Verrouillage centralisé à distance     int32
Prix                                   int64
Kilometrage_moyen                      int64
dtype: object

In [20]:
df['État'].unique()

array(['Très bon', 'Excellent', nan, 'Bon', 'Pour Pièces', 'Correct',
       'Endommagé'], dtype=object)

In [21]:
label_mapping = {'Pour Pièces': 1, 'Endommagé': 2, 'Correct': 3, 'Bon': 4, 'Très bon': 5, 'Excellent': 6}

df['État'] = df['État'].fillna('Unknown').replace([np.inf, -np.inf], np.nan)

# Apply label encoding and convert to integer
df['État'] = df['État'].map(label_mapping).astype('Int64')

In [22]:
df['État']

0           5
1           6
2           5
3           6
4           6
         ...
24771       6
24772       5
24773    <NA>
24774       5
24775       5
Name: État, Length: 24776, dtype: Int64

In [23]:
df['État'].isna().sum()

6678

In [24]:
df = pd.get_dummies(df , columns=['Origine'], dummy_na=True)

In [25]:
df.columns

Index(['Ville', 'Marque', 'Modèle', 'Année-Modèle', 'Type de carburant',
       'Puissance fiscale', 'Boite de vitesses', 'Nombre de portes',
       'Première main', 'État', 'Jantes aluminium', 'Airbags', 'Climatisation',
       'Système de navigation/GPS', 'Toit ouvrant', 'Sièges cuir',
       'Radar de recul', 'Caméra de recul', 'Vitres électriques', 'ABS', 'ESP',
       'Régulateur de vitesse', 'Limiteur de vitesse', 'CD/MP3/Bluetooth',
       'Ordinateur de bord', 'Verrouillage centralisé à distance', 'Prix',
       'Kilometrage_moyen', 'Origine_Dédouanée', 'Origine_Importée neuve',
       'Origine_Pas encore dédouanée', 'Origine_WW au Maroc', 'Origine_nan'],
      dtype='object')

In [26]:
df.dtypes

Ville                                 object
Marque                                object
Modèle                                object
Année-Modèle                           int64
Type de carburant                     object
Puissance fiscale                      int64
Boite de vitesses                     object
Nombre de portes                       Int64
Première main                          int64
État                                   Int64
Jantes aluminium                       int32
Airbags                                int32
Climatisation                          int32
Système de navigation/GPS              int32
Toit ouvrant                           int32
Sièges cuir                            int32
Radar de recul                         int32
Caméra de recul                        int32
Vitres électriques                     int32
ABS                                    int32
ESP                                    int32
Régulateur de vitesse                  int32
Limiteur de vitesse                    int32
CD/MP3/Bluetooth                       int32
Ordinateur de bord                     int32
Verrouillage centralisé à distance     int32
Prix                                   int64
Kilometrage_moyen                      int64
Origine_Dédouanée                       bool
Origine_Importée neuve                  bool
Origine_Pas encore dédouanée            bool
Origine_WW au Maroc                     bool
Origine_nan                             bool
dtype: object

In [27]:
df['Boite de vitesses'].unique()

array(['Manuelle', 'Automatique', '--'], dtype=object)

In [28]:
label_encoded = df['Boite de vitesses'].astype('category').cat.codes
# Concatenate the original DataFrame with the encoded column
df = pd.concat([df, label_encoded], axis=1)
df = df.drop('Boite de vitesses' , axis=1)
# Optionally, rename the encoded column
df.rename(columns={ 0: 'Boite de vitesses'}, inplace=True)

In [29]:
df.columns

Index(['Ville', 'Marque', 'Modèle', 'Année-Modèle', 'Type de carburant',
       'Puissance fiscale', 'Nombre de portes', 'Première main', 'État',
       'Jantes aluminium', 'Airbags', 'Climatisation',
       'Système de navigation/GPS', 'Toit ouvrant', 'Sièges cuir',
       'Radar de recul', 'Caméra de recul', 'Vitres électriques', 'ABS', 'ESP',
       'Régulateur de vitesse', 'Limiteur de vitesse', 'CD/MP3/Bluetooth',
       'Ordinateur de bord', 'Verrouillage centralisé à distance', 'Prix',
       'Kilometrage_moyen', 'Origine_Dédouanée', 'Origine_Importée neuve',
       'Origine_Pas encore dédouanée', 'Origine_WW au Maroc', 'Origine_nan',
       'Boite de vitesses'],
      dtype='object')

In [30]:
df.dtypes

Ville                                 object
Marque                                object
Modèle                                object
Année-Modèle                           int64
Type de carburant                     object
Puissance fiscale                      int64
Nombre de portes                       Int64
Première main                          int64
État                                   Int64
Jantes aluminium                       int32
Airbags                                int32
Climatisation                          int32
Système de navigation/GPS              int32
Toit ouvrant                           int32
Sièges cuir                            int32
Radar de recul                         int32
Caméra de recul                        int32
Vitres électriques                     int32
ABS                                    int32
ESP                                    int32
Régulateur de vitesse                  int32
Limiteur de vitesse                    int32
CD/MP3/Bluetooth                       int32
Ordinateur de bord                     int32
Verrouillage centralisé à distance     int32
Prix                                   int64
Kilometrage_moyen                      int64
Origine_Dédouanée                       bool
Origine_Importée neuve                  bool
Origine_Pas encore dédouanée            bool
Origine_WW au Maroc                     bool
Origine_nan                             bool
Boite de vitesses                       int8
dtype: object

In [31]:
df['Type de carburant'].unique()

array(['Diesel', 'Essence', 'Hybride', 'Electrique'], dtype=object)

In [34]:
df = pd.get_dummies(df , columns=['Type de carburant'], dummy_na=True)

In [35]:
label_encoded = df['Ville'].astype('category').cat.codes
# Concatenate the original DataFrame with the encoded column
df = pd.concat([df, label_encoded], axis=1)
df = df.drop('Ville' , axis=1)
# Optionally, rename the encoded column
df.rename(columns={ 0: 'Ville'}, inplace=True)

In [36]:
df.columns

Index(['Marque', 'Modèle', 'Année-Modèle', 'Puissance fiscale',
       'Nombre de portes', 'Première main', 'État', 'Jantes aluminium',
       'Airbags', 'Climatisation', 'Système de navigation/GPS', 'Toit ouvrant',
       'Sièges cuir', 'Radar de recul', 'Caméra de recul',
       'Vitres électriques', 'ABS', 'ESP', 'Régulateur de vitesse',
       'Limiteur de vitesse', 'CD/MP3/Bluetooth', 'Ordinateur de bord',
       'Verrouillage centralisé à distance', 'Prix', 'Kilometrage_moyen',
       'Origine_Dédouanée', 'Origine_Importée neuve',
       'Origine_Pas encore dédouanée', 'Origine_WW au Maroc', 'Origine_nan',
       'Boite de vitesses', 'Type de carburant_Diesel',
       'Type de carburant_Electrique', 'Type de carburant_Essence',
       'Type de carburant_Hybride', 'Type de carburant_nan', 'Ville'],
      dtype='object')

In [37]:
a = df['Marque'].astype(str) + ' ' + df['Modèle'].astype(str)
a

0                Fiat Punto
1          Dacia Dokker Van
2              Dacia Dokker
3        Volkswagen Touareg
4              Toyota Prado
                ...
24771           mini cabrio
24772           mini cooper
24773              mini one
24774           mini cooper
24775           mini cooper
Length: 24776, dtype: object

In [38]:
df = pd.concat([df, a], axis=1)
df.rename(columns={ 0: 'Marque_Modèle'}, inplace=True)
df = df.drop('Marque' , axis=1)
df = df.drop('Modèle' , axis=1)

In [39]:
df = pd.get_dummies(df , columns=['Marque_Modèle'], dummy_na=True)

In [40]:
df.columns

Index(['Année-Modèle', 'Puissance fiscale', 'Nombre de portes',
       'Première main', 'État', 'Jantes aluminium', 'Airbags', 'Climatisation',
       'Système de navigation/GPS', 'Toit ouvrant',
       ...
       'Marque_Modèle_Volkswagen SHARAN',
       'Marque_Modèle_Volkswagen TRANSPORTER',
       'Marque_Modèle_Volkswagen Tiguan', 'Marque_Modèle_Volkswagen Touareg',
       'Marque_Modèle_Volkswagen Touran', 'Marque_Modèle_mini cabrio',
       'Marque_Modèle_mini cooper', 'Marque_Modèle_mini country man',
       'Marque_Modèle_mini one', 'Marque_Modèle_nan'],
      dtype='object', length=407)

In [41]:
df.isna().sum()

Année-Modèle                         0
Puissance fiscale                    0
Nombre de portes                  4380
Première main                        0
État                              6678
                                  ...
Marque_Modèle_mini cabrio            0
Marque_Modèle_mini cooper            0
Marque_Modèle_mini country man       0
Marque_Modèle_mini one               0
Marque_Modèle_nan                    0
Length: 407, dtype: int64

In [42]:
df.dtypes

Année-Modèle                      int64
Puissance fiscale                 int64
Nombre de portes                  Int64
Première main                     int64
État                              Int64
                                  ...
Marque_Modèle_mini cabrio          bool
Marque_Modèle_mini cooper          bool
Marque_Modèle_mini country man     bool
Marque_Modèle_mini one             bool
Marque_Modèle_nan                  bool
Length: 407, dtype: object

In [43]:
df.loc[: , 'Origine_Dédouanée':'Type de carburant_nan'] = df.loc[: , 'Origine_Dédouanée':'Type de carburant_nan'].astype(int)
df.loc[: , 'Marque_Modèle_Alfa Romeo 147':'Marque_Modèle_nan'] = df.loc[: , 'Marque_Modèle_Alfa Romeo 147':'Marque_Modèle_nan'] .astype(int)

In [44]:
df.dtypes

Année-Modèle                      int64
Puissance fiscale                 int64
Nombre de portes                  Int64
Première main                     int64
État                              Int64
                                  ...
Marque_Modèle_mini cabrio         int32
Marque_Modèle_mini cooper         int32
Marque_Modèle_mini country man    int32
Marque_Modèle_mini one            int32
Marque_Modèle_nan                 int32
Length: 407, dtype: object

### Fitting the model

In [45]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error

In [46]:

target = df['Prix']
data = df.drop('Prix', axis=1)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=0)
model = DecisionTreeRegressor()

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

model.fit(X_train_imputed, y_train)

y_pred = model.predict(X_test_imputed)

mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 574054856294.1384

In [48]:
model.score(X_test_imputed, y_test)

-6.438175161328247

## Score wasn't good so i will try to optimize it

### i will do the same but change the imputation methods

In [11]:
df2 = pd.read_csv('avito_car_dataset_ALL.csv', encoding='latin1' , index_col=0)

data_types = df2.dtypes
# Convert non-numeric columns to categories
non_numeric_cols = data_types[data_types == 'object'].index
for col in non_numeric_cols:
    df2[col] = df2[col].astype('category')

# Drop the 'Lien' column
if 'Lien' in df2.columns:
    df2.drop('Lien', axis=1, inplace=True)

# Impute missing values in 'Nombre de portes' column with the median
df2['Nombre de portes'] = df2['Nombre de portes'].fillna(df2['Nombre de portes'].median())


# Impute missing values in categorical columns using the mode
categorical_cols = ['Ville', 'Origine', 'Première main', 'État']
for col in categorical_cols:
    df2[col] = df2[col].fillna(df2[col].mode()[0])



# Perform one-hot encoding on the categorical columns
df_encoded = pd.get_dummies(df2, columns=['Ville', 'Origine', 'Première main', 'État'])


df2.drop(['Secteur', 'Ville', 'Origine', 'Première main', 'État'], axis=1, inplace=True)



from sklearn.preprocessing import OneHotEncoder

# Convert 'Marque' and 'Modèle' columns to strings
df2['Marque'] = df2['Marque'].astype(str)
df2['Modèle'] = df2['Modèle'].astype(str)

# Concatenate 'Marque' and 'Modèle' into a new column 'Marque_Modele'
df2['Marque_Modele'] = df2['Marque'] + '_' + df2['Modèle']


# Drop the original 'Marque' and 'Modèle' columns
df2.drop(['Marque', 'Modèle' ], axis=1, inplace=True)
# Display the head of the dataframe to confirm the changes

# Encode the 'Marque_Modele' column
encoded_columns = pd.get_dummies(df2['Marque_Modele'], prefix='Marque_Modele')

# Concatenate the encoded columns with the original DataFrame
df2 = pd.concat([df2, encoded_columns], axis=1)

# Drop the original 'Marque_Modele' column as it has been encoded
df2.drop('Marque_Modele', axis=1, inplace=True)


df2.dtypes

Année-Modèle                          int64
Kilométrage                        category
Type de carburant                  category
Puissance fiscale                     int64
Boite de vitesses                  category
                                     ...
Marque_Modele_Volkswagen_Touran        bool
Marque_Modele_mini_cabrio              bool
Marque_Modele_mini_cooper              bool
Marque_Modele_mini_country man         bool
Marque_Modele_mini_one                 bool
Length: 394, dtype: object

### then fitting the model

In [12]:
# Perform one-hot encoding on the categorical columns
df2 = pd.get_dummies(df2, columns=['Kilométrage', 'Type de carburant', 'Boite de vitesses'])

# Split data into features and target variable
X = df2.drop('Prix', axis=1)
y = df2['Prix']

df2.dtypes
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Import DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

# Instantiate the regressor
regressor = DecisionTreeRegressor()

# Fit the model to the training data
regressor.fit(X_train, y_train)

# Predict on the testing data
y_pred = regressor.predict(X_test)

# Evaluate the model
from sklearn.metrics import mean_squared_error, r2_score

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)

score = regressor.score(X_test, y_test)
print("the score:", score)
print("Mean Squared Error:", mse)
print("R-squared score:", r2)

the score: 0.5674928942771804
Mean Squared Error: 219628046300.68262
R-squared score: 0.5674928942771804

## it shows a better results and there's always a room to optimize